{% extends 'base.html.twig' %}

{% block body %}
<h1>Donation</h1>

    <form id="donation-form" action="{{ path('donation_charge') }}" method="POST">
        <input type="hidden" name="amount" value="{{ amount }}">

        <!-- Les boutons pour choisir le montant de la donation -->
        <div id="donation-buttons">
            <button id="donate-1" data-amount="100">1€</button>
            <button id="donate-5" data-amount="500">5€</button>
            <button id="donate-10" data-amount="1000">10€</button>
            <button id="donate-20" data-amount="2000">20€</button>
            <button id="donate-50" data-amount="5000">50€</button>
            <button id="donate-100" data-amount="10000">100€</button>
        </div>

        <!-- L'emplacement où le formulaire de Stripe sera généré -->
        <div id="stripe-form"></div>

        <button id="donate-button" type="submit">Donner</button>
    </form>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        var stripe = Stripe('sk_test_51MopfxClaZ898ymb3pSywHHsa8DaWIB9uih4jt74MXShsvxqEJgvRD5IImnw9Sr1DPodLxiDi9gdgBU32MjBas4Z00GOVtPY4w');

        // Récupération de l'emplacement où le formulaire de Stripe sera généré
        var stripeForm = document.getElementById('stripe-form');

        // Récupération de tous les boutons de donation
        var donateButtons = document.querySelectorAll('#donation-buttons button');

        var createCheckoutSession = function(amount) {
            fetch('{{ path('create_checkout_session') }}?amount=' + amount, {
                method: 'POST'
            })
                .then(function(response) {
                    return response.json();
                })
                .then(function(session) {
                    stripe.redirectToCheckout({
                        sessionId: session.id
                    })
                        .then(function(result) {
                            console.log(result.error.message);
                        });
                });
        };

        // Gestion du clic sur les boutons de donation
        donateButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Récupération du montant à partir de l'attribut data-amount
                var amountString = this.getAttribute('data-amount');

                // Vérification que le montant est un nombre entier valide
                if (!Number.isInteger(parseInt(amountString))) {
                    console.error('Le montant n\'est pas un nombre entier valide.');
                    return;
                }

                var amount = parseInt(amountString);

                // Mise à jour de la valeur de l'input hidden correspondant
                document.querySelector('input[name="amount"]').value = amount;

                // Création de la session de paiement Stripe
                createCheckoutSession(amount);
            });
        });
    </script>



{% endblock %}


