{% extends 'base.html.twig' %}

{% block title %}Ronron | Modifier mon mot de passe{% endblock %}


{% block body %}
    <h1 class="text-center mt-3">Mon mot de passe</h1>
    <p class="text-center"> Ici vous pouvez modifier votre mot de passe ou <a href="{{ path('app_account') }}"> Retourner à votre compte</a></p>
    <br>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Modifier</button>
        {{ form_end(form) }}


{% endblock %}