* {
    font-family: "Raleway", sans-serif;
}

/* --- TYPOGRAPHIE --- */

/*
Beige : #D2B48C;
Bleu : #009DDC;
Noir : #2F2F2F;
Typo 1 : font-family: 'Lobster Two', cursive;
Typo 2 : font-family: 'Raleway', sans-serif;
 */

/* --- FIN TYPOGRAPHIE --- */

/* --- HN --- */

h5{
    color: #009DDC!important;
    text-transform: uppercase;
}

/* --- FIN HN --- */

/* --- BTN --- */

.btnDon{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(217, 0, 4);
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.btnDon:hover {
    color: #ffffff;
    background-color: rgba(180, 0, 4, 0.8);
}

.btn1 {
    color: #2F2F2F;
    text-decoration: none;
}

.btn1:hover {
    font-weight: bold;
    color: #2F2F2F;
}

.btn2 {
    color: #D2B48C;
    text-decoration: none;
}

.btn2:hover {
    font-weight: bold;
    color: #D2B48C;
}

.btn3 {
    color: #C6D18C;
    text-decoration: none;
}

.btn3:hover {
    font-weight: bold;
    color: #C6D18C;
}

.btn7{
    text-decoration: none;
    color: #2F2F2F;
    font-weight: bold;
    background-color: #D2B48C;
    border-radius: 10px;
    padding: 10px;
}

.btn7:hover {
    color: #2F2F2F;
    background-color: rgba(210, 180, 140, 0.77);
}

.btn8{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #009DDC;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.btn8:hover {
    color: #ffffff;
    background-color: rgba(0, 157, 220, 0.8);
}

.btnSoumission{
    background-color: #009DDC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.btnSoumission:hover{
    background-color: rgba(0, 157, 220, 0.81);
}

.btnHome{
    text-decoration: none;
    background-color: #009DDC;
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.btnHome:hover{
    background-color: rgba(0, 157, 220, 0.81);
}

.boutonHome{

}
/* --- FIN BTN --- */

/* --- NAVBAR --- */

@media screen and (max-width: 768px) {
    #navbar {
        display: none;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #2F2F2F;
    align-items: center;
    padding: 10px;
}

.ronron{
    font-family: 'Lobster Two', cursive;
    font-size: xxx-large;
    font-weight: bold;
}

nav .navbar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    text-decoration: none;
}

/* --- FIN NAVBAR --- */

/* --- MENU BURGER --- */

@media screen and (min-width: 768px) {
    #openBtn {
        display: none;
    }
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/* --- FIN MENU BURGER --- */

/* --- HEADER HOME --- */

.section-1 {
    background-color: #D2B48C;
    display: flex;
    justify-content: space-around;
    padding: 60px 20px 20px;
}

.chat {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
}

.customSearch{
    width: 50%;
}

.bdr h1 {
    font-weight: bold;
}

.sous-titre {
    line-height: 0.5rem;
}

.btnPlace {
    margin-bottom: 30px;
}

@media screen and (max-width: 980px) {
    .imagehome {
        display: none;
    }
    .sous-titre {
        line-height: 20px;
    }
}

.textHome{
    text-align: justify;
}

.lost-cat {
    margin-top: 50px;
    padding: 20px;
}

.lost-cat h3 {
    color: #009DDC;
}

.lost-cat ul {
    list-style: disc;
    margin-left: 20px;
}

.lost-cat li {
    margin-bottom: 10px;
}


.counter-sec{
    padding: 80px 0;
    width: 100%;
    background: #131416;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.num{
    font-size: 40px;
    margin: 20px 0;
}

.box{
    flex: 1;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
.box i{
    font-size: 40px;
    color: #333;
}

/* --- FIN HEADER HOME --- */

/* --- FOOTER --- */

.site-footer
{
    background-color:#D2B48C;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    margin-top: 50px;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
  font-weight: bold;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:black;
}
.site-footer a:hover
{
    color:black;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:black;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:black;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:white;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}

/* --- FIN FOOTER --- */

/* --- PAGE CONTACT --- */
.contact {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 70%;
    margin: auto;
    padding: 20px;
}

/* --- FIN PAGE CONTACT --- */

/* --- PAGE CGV --- */

.cgv {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.cgv h2, h3 {
    color: #009DDC;
    text-align: center;
}

.cgv p {
    color: #444;
    margin-bottom: 20px;
}

.cgv h3 {
    margin-top: 30px;
}

/* --- FIN PAGE CGV --- */

/* --- LOGIN AND REGISTER --- */


.rightSide .container {
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
}

.rightSide{
    width: 350px;
    position: absolute;
    transform: translate(-50%, -40%);
    left: 50%;
    top: 50%;
}
.cat {
    background-color: #D2B48C;
    height: 65px;
    width: 80px;
    border-radius: 0 80px 80px 0;
    position: absolute;
    bottom: 60px;
    right: 50px;
}
.ear {
    height: 15px;
    width: 15px;
    background-color: #D2B48C;
    position: absolute;
    bottom: 64px;
    left: 8px;
    border-radius: 20px 0 0 0;
    box-shadow: 25px 0 #D2B48C;
}
.eye,
.eye:before {
    height: 7px;
    width: 10px;
    border: 2px solid #2c2c2c;
    position: absolute;
    border-radius: 0 0 15px 15px;
    border-top: none;
}
.eye {
    top: 18px;
    left: 15px;
}
.eye:before {
    content: "";
    left: 30px;
}
.nose {
    background-color: #ffffff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 25px;
    box-shadow: 12px 0 #ffffff;
}
.nose:before {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    background-color: #ffffff;
    left: 6px;
}
.nose:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid #D2B48C;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 7px;
    left: 6px;
}
.mouth {
    background-color: #2c2c2c;
    height: 15px;
    width: 17px;
    position: absolute;
    border-radius: 0 0 5px 5px;
    top: 38px;
    left: 27px;
    animation: mouth-move 2s infinite;
    transform-origin: top;
}
@keyframes mouth-move {
    50% {
        transform: scaleY(0.7);
    }
}
.body {
    background-color: #D2B48C;
    height: 90px;
    width: 140px;
    position: absolute;
    right: 65px;
    bottom: 0;
    border-radius: 60px 60px 0 0;
    animation: sleep 2s infinite;
    transform-origin: bottom right;
}
@keyframes sleep {
    50% {
        transform: scale(0.9, 1.05);
    }
}
.tail {
    background-color: #D2B48C;
    height: 20px;
    width: 100px;
    position: absolute;
    right: 150px;
    bottom: 0;
    border-radius: 20px 0 0 20px;
}
.body:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 12px;
    width: 30px;
    border-radius: 6px;
    bottom: 0;
    left: 22px;
    box-shadow: 45px 0 #ffffff;
}
.bubble {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 65px;
    top: 20px;
    border-radius: 50px 50px 50px 5px;
    animation: bubble-scale 2s infinite;
}
@keyframes bubble-scale {
    50% {
        transform: scale(1.6);
    }
}
.shadow {
    height: 10px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    bottom: 52px;
    left: 70px;
    animation: shadow 2s infinite;
}
@keyframes shadow {
    50% {
        transform: scaleX(0.7);
    }
}

#login-page {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-left: 70vh;
    bottom: 0;
}
#login-page .textSide {
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

#login-page .rightSide{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    gap: 20px;
}

@media (min-width: 768px) {
    #login-page {
        flex-direction: row;
    }

    #login-page .textSide {
        height: 100%;
        width: 100%;
    }

    #login-page .rightSide{
        flex-direction: column;
        gap: 20px;
        height: 100%;
        width: 50%;
    }
    #login-page .rightSide .input-space{
        width: 40%;
    }
    .form-control{
        height: 60px;
    }
}

#parIci{
    color: #000000;
    text-decoration: none;
}

/* --- FIN LOGIN AND REGISTER --- */

/* --- RESULTAT BDR --- */

@media screen and (max-width: 880px) {
    .wrapper_resultat {
        flex-wrap: wrap;
        justify-content: center;
    }

    .resultat{
        justify-content: center;
    }
}

.wrapper_resultat{
    display: flex;
    gap: 25px;
    margin: 10px;
}

.btnSearch2{
    width: 250px;
    justify-items: baseline;
}


.resultat{
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.cardFreelance{
    box-shadow : 1px 2px 0.5em 0.5em rgba(0, 0, 0, 0.11);
    padding: 10px;
}

.card-title{
    padding: 5px;
    font-weight: bold;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 1rem;
}

.card-body h4{
    font-size: 15px;
    padding-left: 5px;
}

.card-body h4 .fa-solid{
    color: #D2B48C;
}

.card-body h2{
    font-size: 12px;
    background-color: #009DDC;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.card-body .card-text{
    font-weight: bold;
}

.viewProfil{
    text-align: right;
}


/* --- FIN RESULTAT BDR --- */




