{% extends 'base.html.twig' %}

{% block title %}Ronron{% endblock %}

{% block body %}
    <div class="mt-5 wrapper_resultat">
        <div class="filtre">
            <h4>Filtres</h4>
            {% include 'result/_filter.html.twig' with {form: searchAnnounce2} only  %}
        </div>
        <hr>
        <div class="resultat">
            {% if announces is not empty %}
                {% for announce in announces %}
                    {{ dump(announce.cat.color) }}
                    {% include 'result/_card.html.twig' with {announce: announce, user: user} only %}
                {% endfor %}
            {% else %}
                Aucunes annonces
            {% endif %}
        </div>
    </div>
    <br>
    <br>

    <div class="pagination" style="float:right">
        {{ knp_pagination_render(announces) }}
    </div>

    <br>
    <br>

{% endblock %}