{% extends 'base.html.twig' %}

{% block title %}Ronron | CGV{% endblock %}

{% block body %}
    <div class="cgv">
        <h2>Conditions Générales de Vente (CGV) - Donations</h2>
        <p>Les présentes Conditions Générales de Vente (CGV) s'appliquent aux dons effectués sur notre site internet. En effectuant un don sur notre site, vous acceptez les présentes CGV.</p>

        <h3>1. Modalités de paiement acceptées</h3>
        <p>Nous acceptons les paiements par carte bancaire et Paypal. Les informations de paiement sont traitées de manière sécurisée et confidentielle. Nous ne stockons pas les informations de paiement des donateurs.</p>

        <h3>2. Montant des dons</h3>
        <p>Il n'y a pas de montant minimum ou maximum pour les dons. Les donateurs sont libres de donner le montant qu'ils souhaitent.</p>

        <h3>3. Absence de remboursement</h3>
        <p>Les dons effectués sur notre site ne sont pas remboursables. Toutefois, si un donateur souhaite demander un remboursement, il doit nous contacter dans les 24 heures suivant le don pour en faire la demande. Nous nous réservons le droit de refuser toute demande de remboursement.</p>

        <h3>4. Utilisation des dons</h3>
        <p>Les dons que nous recevons sont utilisés pour soutenir notre activité de recherche d'animaux perdus et pour améliorer notre site internet. Nous nous engageons à utiliser les dons de manière transparente et responsable.</p>

        <h3>5. Confidentialité</h3>
        <p>Les informations personnelles des donateurs sont traitées conformément à notre Politique de Confidentialité. Nous ne divulguons pas les informations des donateurs à des tiers sans leur consentement.</p>

        <h3>6. Modification des CGV</h3>
        <p>Nous nous réservons le droit de modifier les présentes CGV à tout moment. Les modifications prendront effet dès leur publication sur notre site internet. Les donateurs sont invités à consulter régulièrement les CGV.</p>

        <i>Si vous avez des questions ou des commentaires sur nos CGV, n'hésitez pas à nous contacter à l'adresse e-mail suivante : contactez-ronron@gmail.com.</i>
    </div>
{% endblock %}