{% extends 'base.html.twig' %}

{% block title %}Ronron | Données personnelles{% endblock %}

{% block body %}
    <div class="cgv">
        <h2>Données personnelles</h2>
        <p>Lors de votre usage de certaines fonctionnalités du site (publication d'une annonce, publication d'un commentaire...), vous pouvez être amenés à confier à ronron.fr certaines données personnelles.</p>

        <p>Aucune donnée n'est partagée ou vendue à des tiers.</p>

        <p>Les données qualifiées de "personnelles" sont les suivantes :</p>

    - si vous avez publié une annonce :<br>
    - adresse email<br>
    - rue<br>
    - tatouage<br>
    - puce électronique<br>
    - nom, prénom<br>
    - numéro de téléphone<br><br>

    - si vous avez créé un compte :<br>
    - adresse email<br><br>

    - si vous avez publié un commentaire :<br>
    - adresse email<br><br>

        <p>Veuillez utiliser <a  href="#">ce formulaire</a> pour supprimer définitivement les données ci-dessus.</p>
    </div>

{% endblock %}