{% extends 'base.html.twig' %}

{% block title %}Ronron | CGU{% endblock %}

{% block body %}

    <div class="cgv">
        <h2>Conditions Générales d'Utilisation (CGU)</h2>
        <p>Les présentes Conditions Générales d'Utilisation (CGU) ont pour objet de définir les conditions d'accès et d'utilisation du site ronron.fr. En accédant à ce site, vous acceptez les présentes CGU.</p>
        <h3>1. Identification</h3>
        <p>Je suis Dellmann Tiffany, auto-entrepreneuse et webmaster du site ronron.fr. J'habite au Chemin GrossRoethig 67200 Strasbourg.</p>
        <h3>2. Propriété intellectuelle</h3>
        <p>Le contenu du site ronron.fr (textes, images, vidéos, etc.) est protégé par les lois de la propriété intellectuelle. Toute reproduction ou utilisation sans autorisation préalable est interdite.</p>
        <h3>3. Responsabilité</h3>
        <p>Je m'efforce de maintenir le site ronron.fr à jour et accessible en permanence, mais je ne peux garantir son fonctionnement sans interruption ni erreur. Je décline toute responsabilité en cas de dommage résultant de l'utilisation du site.</p>
        <h3>4. Données personnelles</h3>
        <p>Je m'engage à respecter la confidentialité et la protection des données personnelles des utilisateurs du site ronron.fr. Les données collectées sont utilisées uniquement dans le cadre du fonctionnement du site.</p>
        <h3>5. Modification des CGU</h3>
        <p>Je me réserve le droit de modifier à tout moment les présentes CGU. Les modifications sont opposables dès leur mise en ligne sur le site ronron.fr.</p>
        <h3>6. Loi applicable et juridiction compétente</h3>
        <p>Les présentes CGU sont régies par la loi française. Tout litige relatif à l'utilisation du site ronron.fr sera soumis à la compétence exclusive des tribunaux français.</p>
        <p>Vous pouvez me contacter à tout moment pour toute question ou demande concernant le site ronron.fr à l'adresse suivante : contact@ronron.fr</p>
    </div>


{% endblock %}
